

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


body {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

header {
    width: 100%;
    box-sizing: border-box;
}
.content__inner {
    height: 100%;
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
.logo {
    font-weight: bold;
    font-size: 1.2rem;
}
.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: left;
}
nav > span {
    margin: 16px;
}

.header__content{
    /* background-image: linear-gradient(rgba(220,110,11, 0.5), rgba(128,130,125, 0.8)); */
    background-color: #f6f6f6;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding: 1rem;
}
.header__content > img{
    width: 450px;
    /* margin-top: 30px; */
    filter: grayscale(70%);
    opacity: 0.7;
}
.header__content > h1{
    font-family: 'Caveat', cursive;
    transform: rotate(-5deg);
    font-size: 3rem;
}

main {

}

.section {

}
.section > .mapArea {

}
